body
{
	background-image:url("download.jpg");
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player_1name , #player_2name
{
	display: inline-block;
	margin-left: 20px;
	color:#f6fcfd;
}
#number
{
	width: 60%;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#player_1score,#player_2score{
	color:white;
}